<h2>Forgot your password?</h2>

<%= simple_form_for(resource, url: password_path(@user), html: {method: :post}, wrapper: :vertical_form) do |f|%>
  <%= devise_error_messages! %>

  <%= f.input :email %>
  <%= f.button :submit, 'Send me reset password instructions' %>
<% end %>

<%= render "devise/shared/links" %>