<br>
<h2>Log in</h2>

<%= simple_form_for(resource, url: session_path(@user), wrapper: :vertical_form) do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :remember_me, as: :boolean %>
  <%= f.button :submit, "Log in" %>
<% end %>

<br>
<%= render "devise/shared/links" %>
