<!DOCTYPE html>
<html>
<head>
  <title>EpicGallery</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_pack_tag "application", "data-turbolinks-track": "reload", media: "all" %>
  <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Epic Gallery</a>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to 'Galleries', galleries_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Images', images_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Upload images', new_image_path, class: 'nav-link' %>
        </li>
      <% end %>

      <% if current_user && current_user.admin? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin Tools
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Users list', admin_panel_users_path, class: 'dropdown-item' %>
          </div>
        </li>
      <% end %>
    </ul>

    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello, <%= full_name(current_user) %>!
            <%= image_tag(current_user.avatar_url, class: 'profile-image') if current_user.avatar? %>
          </a>
          <div class="dropdown-menu" aria-labelledby="userDropDown">
            <%= link_to('Edit account', edit_user_registration_path, class: 'dropdown-item') %>
            <%= link_to('Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item') %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<% flash.each do |type, message| %>
  <% unless message.to_s.strip == 'true' %>
    <div class="flash flash--notice alert <%= bootstrap_class_for(type) %>">
      <button class="btn btn--stripped close" data-dismiss="alert">×</button>
      <%= message.is_a?(Array) ? message.join("<br>").html_safe : message %>
    </div>
  <% end %>
<% end %>

<div class="container">
  <%= yield %>
</div>

<div class="alert alert-info">
  <%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
